* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: ghostwhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aliceblue;
    color: gray;
    
}

.header h1 {
    display: block;
    font-size: 40px;
    -webkit-text-stroke: 1px lightslategray;
}

.header h1 .fn {
    color: lightblue;
}

.header h1 .ln {
    color: plum;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-right: 10px;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: lightgrey;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.mePicture {
    padding: 10px;
    height: 300px;
    width: 300px;
}